<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.birdsofafeather">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirdsOfAFeather">
      
        <activity
            android:name=".UploadProfilePicture"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

          <activity
            android:name=".PersonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".OtherCoursesViewAdapter"
            android:exported="false" />
        <activity
            android:name=".DisplayOtherUserActivity"
            android:exported="false" />
      
        <service
            android:name=".FindNearbyService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAv1AahhhU1Ek5BnfUHYx06o_Q2QRqT_kY" />

        <activity
            android:name=".FindNearbyActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmNameActivity"
            android:exported="false" />
        <activity
            android:name=".EnterClassActivity"
            android:exported="false" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.nearby.messages.API_KEY" -->
        <!-- android:value="AIzaSyD_b1pdlTXjv-t6DHntZ8D3kMbf3dzVKG0" /> -->
        <activity
            android:name=".SignOutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>